<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가 : 폴더명이 static.js.app 으로 보이지만, 만들 때 static/js/app 으로 만들어야 함 -->
<script src="/js/app/index.js"></script>
</body>
</html>